*{
  /* border: 1px solid black !important; */
}
body, h1, h2, h3, h4, h5, p, button, input{
  color: #5d5d55;
}
.btn{
  text-transform: unset;
  font-family: poppins;
}
.card{
  box-shadow: 0px 0px 40px 0px rgba(0,0,0,.1);
}
.card:hover{
  box-shadow: 0px 0px 40px 0px rgba(0,0,0,.2);
  transform: translate3d(0,-4px,0);
}
main{
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
main .col{
  height: 100%;
  padding: 30px;
  position: relative;
}
.half-left{
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-100deg, rgba(247, 250, 252, .5), #f7fafc), url(background.jpeg) no-repeat 100%;
}
.todo-frame{
  width: 100%;
  max-width: 400px;
  height: auto;
  padding: 20px;
}
form{
  display: grid;
  width: 100%;
}
form .tag-frame{
  margin-top: 0;
  margin-bottom: 30px;
}
.half-right{
  overflow-x: hidden;
  overflow-y: auto;
  background-color: white;
  box-shadow: inset 1px 0px 20px -5px rgba(0,0,0,0.20);
  /* box-shadow: 0px 0px 80px 0px rgba(0,0,0,.1); */
}
.half-right::-webkit-scrollbar{
	width: 10px;
	height: 10px;
	background-color: #eee;
  /* border-radius: 5px; */
}
.half-right::-webkit-scrollbar-thumb{
	background-color: #b3b3b3;
	height: 5px;
	border-radius: 5px;
}
.half-right .card{
  margin: 30px 0;
  display: flex;
}
.half-right .card p{
  margin: 5px;
}
.logo-frame{
  width: 100%;
  height: 70px;
  margin-bottom: 30px;
  overflow: hidden;
}
.logo-frame img{
  height: 90%;
  width: auto;
}
.card .list-frame{
  padding: 0 10px;
}
.tag-frame{
  margin-top: 10px;
}
.tag{
  background-color: #e6e6e6;
  margin: 5px;
  padding: 5px 13px;
  border-radius: 5px;
  float: left;
  font-size: .9rem;
  cursor: pointer;
  font-weight: 400;
  color: #737373;
  transition: all .3s;
}
.tag:hover{
  background-color: #cccccc;
  color: #5d5d5d;
}
form .form-input{
	width: 100%;
	height: auto;
  position: relative;
  padding-right: 10px;
}
form .form-input input{
	width: 100%;
	border: none;
	background: none;
	outline: none;
	border-bottom: 1px solid rgba(0,0,0,0.12);
	transition: all .3s;
	padding: 10px 0 5px 0;
  font-size: 1rem;
  margin: 0 5px;
  margin-bottom: 20px;
}
form .form-input label{
  margin: 0 5px;
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	pointer-events: none;
	font-size: 14px;
    color: #757575;
	font-weight: 400;
	transition: all .3s cubic-bezier(0.4,0,0.2,1);
}
form .form-input input:focus ~ label{
	top: -20px;
	left: 0;
	color: #1a73e8;
	font-size: 12px;
}
form .form-input input:valid ~ label{
	top: -20px;
	left: 0;
	font-size: 12px;	
}
form .form-input input:focus{
	border-bottom: 2px solid #1a73e8;
}
.edit-button{
  color: #74B087;
  transition: all .3s;
  margin-right: 15px;
  font-size: 1.2rem;
}
.delete-button{
  color: #F5473A;
  transition: all .3s;
  font-size: 1.2rem;
}
.delete-button:hover {
    color: #da190b;
    cursor: pointer;
}
.edit-button:hover {
    color: #49835c;
    cursor: pointer;
}
.todo-empty{
  text-align: center;
  margin: 30px 0;
  font-weight: 400;
}
.todo-completed{
  margin-top: 50px;
  font-weight: 400;
}

input[type='checkbox']{
  display: none;
}
input[type='checkbox'] + .label-text:before{
  content: "\f096";
  font-family: "FontAwesome";
  /* speak: none; */
  font-size: 1.2rem;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  width: 1em;
  transition: all .3s;
  cursor: pointer;
}
input[type='checkbox']:checked + .label-text:before{
  content: "\f14a";
  color: #5d5d5d;
}

/*Tablet (Smaller 760px)*/
@media (max-width: 760px){

  main .col{
    height: 50vh;
  }

}